@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    background-image: url(src/glasses-1052010_1920.jpg);
   
}

header{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    background-color: rgb(220, 190, 159);
}